div.rice {
  > div.img {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    > img {
      width: inherit;
    }
    z-index: 1;
  }
  > div.bigline {
    height: 20px;
    background-color: #e9d69f;
    margin-top: -10px;
  }

  > div.red {
    margin: 0 auto;
    width: 100%;
    margin-top: -20px; 
    position: relative;
    > div.red-box {
      width: 100%;
      height: 100px;
      background-color: #ed1c24;
      > h4 {
        color: #ffff;
        font-size: 30px;
        padding-right: 20px;
        padding-top: 10px;
        font-family: l;
      }
      > h6 {
        color: #ffff;
        font-size: 17px;
        padding-right: 20px;
        font-family: ul;
      }
    }
  }
  > div.line {
    width: 100%;
    height: 1px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    background-color: #c7cacc;
    display: none;
  }
  > div.first-part {
    margin: 0 auto;
    width: 90%;


    > div.ro1 {
      margin-top: 50px;
      line-height: 35px;
      text-align: justify;
      font-family: m;
      color: #ff0000;
      font-size: 20px;
    }
    > p {
      line-height: 35px;
      text-align: justify;
      font-family: l;
      color: #818588;
    }
    > div.links {
      margin: 30px 0;
      margin-bottom: 50px;
      >a {
            border-radius: 8px;
            padding: 10px 20px;
            border: 1px solid #c8c8c8;
            color: #7c7d7e;
            text-align: center;
      }
    }
  }
  
}
///////////////////////////////////////////////////////
///
div.tea {
  > div.img {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    > img { 
      width: inherit;
    }
    z-index: 1;
  }
  > div.bigline {
    height: 20px;
    background-color: #e9d69f;
    margin-top: -10px;
  }

  > div.red {
    margin: 0 auto;
    width: 100%;

    margin-top: -20px; 

    position: relative;
    > div.red-box {
      width: 100%;
      height: 100px;
      background-color: #ed1c24;
      > h4 {
        color: #ffff;
        font-size: 30px;
        padding-right: 20px;
        padding-top: 10px;
        font-family: l;
      }
      > h6 {
        color: #ffff;
        font-size: 17px;
        padding-right: 20px;
        font-family: ul;
      }
    }
  }
  > div.line {
    width: 100%;
    height: 1px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    background-color: #c7cacc;
    display: none;
  }
  > div.first-part {
    margin: 0 auto;
    width: 90%;

    > div.ro1 {
      margin: 0 auto;
      margin-top: 50px;
      line-height: 35px;
      text-align: justify;
      font-family: m;
      color: #ff0000;
      font-size: 20px;
    }
    > p {
      
      line-height: 35px;
      text-align: justify;
      font-family: l;
      color: #818588;
      >span{
        color:#ff0000;
        font-weight: bold;
      }
    }
    > div.links {
      margin: 30px 0;
      margin-bottom: 50px;
      >a {
            border-radius: 8px;
            padding: 10px 20px;
            border: 1px solid #c8c8c8;
            color: #7c7d7e;
            text-align: center;
      }
    }
  }
}
/////////////////////////////////////////////

div.nut {
  > div.img {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    > img { 
      width: inherit;
    }
    z-index: 1;
  }
  > div.bigline {
    height: 20px;
    background-color: #e9d69f;
    margin-top: -10px;
  }

  > div.red {
    margin: 0 auto;
    width: 100%;

    margin-top: -20px; 

    position: relative;
    > div.red-box {
      width: 100%;
      height: 100px;
      background-color: #ed1c24;
      > h4 {
        color: #ffff;
        font-size: 30px;
        padding-right: 20px;
        padding-top: 10px;
        font-family: l;
      }
      > h6 {
        color: #ffff;
        font-size: 17px;
        padding-right: 20px;
        font-family: ul;
      }
    }
  }
  > div.line {
    width: 100%;
    height: 1px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    background-color: #c7cacc;
    display: none;
  }
  > div.first-part {
    margin: 0 auto;
    width: 90%;

    > div.ro1 {
      
      margin-top: 50px;
      line-height: 35px;
      text-align: justify;
      font-family: m;
      color: #ff0000;
      font-size: 20px;
    }
    > p {
      line-height: 35px;
      text-align: justify;
      font-family: l;
      color: #818588;
      >span{
        color:#ff0000;
        font-weight: bold;
      }
    }
    > div.links {
      margin: 30px 0;
      margin-bottom: 50px;
      >a {
            border-radius: 8px;
            padding: 10px 20px;
            border: 1px solid #c8c8c8;
            color: #7c7d7e;
            text-align: center;
      }
    }
  }
}